<%inherit file="template.html"/>
<%doc> début de ce qui va être le "self.body()" ...  </%doc>

<section class="nheader">
    <div class="hero">
        <p id="constru">Cette page est encore en construction</p>
        <h1> COMING SOON</h1>

        <hr>
        <p id="launch"></p>
    </div>
</section>
<div class ="blocus2"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<script>
    var countDownDate = new Date("Jan 1, 2025 00:00:00").getTime();

    var x = setInterval(function(){
        var now = new Date().getTime();
        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("launch").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

        if (distance < 0){
            clearInterval(x);
            document.getElementById("launch").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>
<%doc> fin de ce qui va être le "self.body()" ...  </%doc>
