<%inherit file="template.html"/>
<%doc> début de ce qui va être le "self.body()" ...  </%doc>

<section class="home2">
    <section class="insert">
        <br><br><br><br><br>
        <div class="container">
            <h1 class="form-title">Modifications des piscines</h1>
            % if message :
            <p class="message alert alert-${type}">${message}</p>
            % endif
            <form action="change_pisc" method="POST" class="needs-validation" novalidate onsubmit="return validateForm()">
                <div class="main-user-info">

                    <div class="user-input-box">
                        <label for="nom">Nom</label>
                        <input type="text" id="nom" name="nom" placeholder="Nom de la piscine">
                    </div>

                    <div class="user-input-box">
                        <label for="adresse">Adresse</label>
                        <input type="text" id="adresse" name="adresse" placeholder="Entrer adresse" required>
                    </div>

                    <div class="user-input-box">
                        <label for="bas">Nombre de bassin</label>
                        <input type="number" id="bas" name="bas" placeholder="Saisir le nombre" required min="1" max="10">
                    </div>

                    <div class="user-input-box">
                        <label for="tarif">Tarif d'entrée</label>
                        <input type="number" id="tarif" name="tarif" placeholder="Entrer le tarif" required min="0" oninvalid="('Le tarif ne peut pas être négatif.')">
                        <div class="error-label" id="tarif-error"></div>
                    </div>

                    <div class="user-input-box">
                        <label for="horairo">Horaire d'ouverture</label>
                        <input type="time" id="horairo" name="horairo" placeholder="HH:MM" required pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]">
                    </div>
                    
                    <div class="user-input-box">
                        <label for="horairf">Horaire de fermeture</label>
                        <input type="time" id="horairf" name="horairf" placeholder="HH:MM" required pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]">
                    </div>

                    <div class="form-submit-btn">
                        <input type="submit" value="Modifier">
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
<section class="home3">
	<div class="home-content3">
		<h3>Liste des piscines présentes :</h3><br><br><br><br><br>
		% for e in pisc :
			<div class="pool-item2">${e}</div>
		% endfor
	</div>
</section>

<%doc> fin de ce qui va être le "self.body()" ...  </%doc>