<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <title>Swim Easy</title>
</head>
<body>	
  <header class="header">
    <a href="index" class="logo">Swim Easy</a>
    <nav class="navbar">
      <ul>
        <li><a href="index" id="accueil-link">Accueil</a></li>
        <li class="dropdown">
          <a href="#" id="piscines-link">Piscines</a>
          <ul class="dropdown-menu">
            <li><a href="insertPage">Insertion</a></li>
            <li><a href="affPiscines">Les piscines</a></li>
            <li><a href="affPiscinesCroi">Tarif croissant</a></li>
            <li><a href="affPiscinesDe">Tarif décroissant</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" id="avis-link">Avis</a> 
          <ul class="dropdown-menu">
            <li><a href="insertPage2">Insertion</a></li>
            <li><a href="affAvis">Les avis</a></li>
          </ul>
        </li>
        <li><a href="rdvPage" id="rdv-link">Rendez-vous</a></li>
        <li><a href="login_page" id="connexion-link">Login</a></li>
      </ul>
    </nav>
  </header>
  <div id="sujet">
      ${ self.body() }
  <div class="blocus"></div>
  <footer class="footer">
    <div class="social">
      <a href="#"><i class="fab fa-instagram"><img alt="insta" src="static/img/logo_instagram.png"></i></a>
      <a href="#"><i class="fab fa-linkedin"><img alt="insta" src="static/img/logo_linkedin.png"></i></a>
      <a href="#"><i class="fab fa-twitter"><img alt="insta" src="static/img/logo_twitter.png"></i></a>
      <a href="#"><i class="fab fa-facebook"><img alt="insta" src="static/img/logo_facebook.png"></i></a>
    </div>

    <ul class="list">
      <li>
        <a href="index">Accueil</a>
      </li>
      <li>
        <a href="soon">Services</a>
      </li>
      <li>
        <a href="soon">Contact</a>
      <li>
        <a href="rdvPage">Rendez-vous</a>
      </li>
    </ul>
    <p class="copyright">
       SwimEasy Copyright @ 2023
    </p>
  </footer>
  </div>
  <script src="/static/js/focus.js"></script>
  <script src="/static/js/window"></script>
</body>
</html>